body {
	background: url(../images/bandeau.jpg) bottom center no-repeat fixed;
}


/* Chat */

.media-list.messages img.media-object {
	width: 32px;
	height: 32px;
}

.media-list.messages h4.media-heading {
	color: #C0C0C0;
	font-size: 16px;
}

[lg-message] {
	padding: 5px 10px;
	margin: 5px 0;
	background: white;
	border-top: 1px solid #EEEEEE;
}

[lg-message].me {
	background: #eeeeee;
}

[lg-message] .content {
	font-weight: bold;
}

[lg-message].same-sender .media-body {
	padding-left: 42px;
}

[lg-message].same-sender {
	border-top: none;
	margin: 0;
}

[lg-message]:not(.same-sender) + [lg-message].same-sender {
	margin-top: -10px;
}

[lg-message].me + [lg-message]:not(.me),
[lg-message]:not(.me) + [lg-message].me {
	border-top: none;
}



/* Characters */

.character {
	display: block;
	margin: 10px 0;
	position: relative;
	text-align: right;
}

.character.select {
	text-align: left;
}

.character.select .count {
	position: absolute;
	left: 106px;
	top: 0px;
	font-family: Verdana;
	background: #0088CC;
	color: white;
	font-size: 40px;
	line-height: 40px;
	width: 60px;
	height: 60px;
	display: block;
	padding: 10px;
	text-align: center;
	border-radius: 6px;
}

.character.select.selected {
	color: #0088CC;
}

.character.select.selected img {
	border-color: #0088CC;
}

.character.select img {
	float: left;
	margin-right: 10px;
}

.character.select figcaption {
	font-size: 120%;
	font-family: "Times New Roman";
}

.character.select figcaption h4 {
	font-size: 140%;
	font-family: "Times New Roman";
	font-style: italic;
	text-transform: capitalize;
}

img.card {
	border: 8px solid #444444;
	border-radius: 4px 4px 4px 4px;
}

