<div class="view-newgame" ng-controller="NewGameController">

	<div class="col-md-3">
		<p>
			<a class="btn btn-default btn-block" href="#/game"><i class="icon-arrow-left"></i> Retourner au jeu</a>
		</p>
		<div class="panel panel-info">
			<div class="panel-heading" ng-pluralize count="countPlayers()" when="{'0': 'Aucun joueur présent', 'one': 'Un joueur présent', 'other': '{} joueurs présents'}"></div>
			<div class="panel-body">
				<div ng-repeat="player in game.players" lg-user="player.user"></div>
			</div>
		</div>
	</div>

	<div class="col-md-9" ng-switch="game.status">

		<div ng-switch-when="WAITING">
			<ol class="breadcrumb">
				<li><a href="#/">Accueil</a></li>
				<li>Nouvelle partie</li>
				<li class="active">Attente des joueurs</li>
			</ol>

			<p><strong>En attente des joueurs...</strong></p>
			<p>
				Dès que tous les joueurs sont là, vous pouvez <strong>Fermer la salle</strong>
				et configurer la partie.
			</p>

			<div class="btn-toolbar">
				<button type="button" class="btn btn-primary" ng-if="! user.joinRef" ng-click="joinGame()"><i class="icon-play"></i> Rejoindre</button>
				<button type="button" class="btn btn-success" ng-click="prepareGame()"><i class="icon-ok"></i> Commencer la partie !</button>
			</div>
		</div>


		<div ng-switch-when="PREPARING">
			<ol class="breadcrumb">
				<li><a href="#/">Accueil</a></li>
				<li>Nouvelle partie</li>
				<li class="active">Préparation</li>
			</ol>

			<p>
				Choisissez les personnages de la partie puis cliquez sur <strong>Commencer la partie</strong> pour jouer.
			</p>

			<div class="alert alert-danger" ng-if="gameData.selectedChars.count < countPlayers()">
				<h4>Vous n'avez pas choisi assez de personnages.</h4>
				<p>
					<button type="button" class="btn btn-danger" ng-click="cancelGame()"><i class="icon-remove"></i> Annuler la partie</button>
				</p>
			</div>
			<div class="alert alert-danger" ng-if="gameData.selectedChars.count > countPlayers()">
				<h4>Vous avez choisi trop de personnages.</h4>
				<p>
					<button type="button" class="btn btn-danger" ng-click="cancelGame()"><i class="icon-remove"></i> Annuler la partie</button>
				</p>
			</div>
			<div class="alert alert-success" ng-if="gameData.selectedChars.count == countPlayers()">
				<h4>Vous avez choisi le bon nombre de personnages !</h4>
				<p>
					<button type="button" class="btn btn-success" ng-click="beginGame()"><i class="icon-play"></i> Commencer la partie !</button>
					<button type="button" class="btn btn-danger" ng-click="cancelGame()"><i class="icon-remove"></i> Annuler la partie</button>
				</p>
			</div>

			<form role="form" novalidate="" ng-submit="createGame()" name="form" class="form-horizontal">

				<div lg-characters-list ng-model="gameData.selectedChars"></div>

			</form>
		</div><!-- end game.status == F -->


		<div ng-switch-when="RUNNING">
			<p>
				La partie est en cours...
			</p>
			<button type="button" class="btn btn-danger" ng-click="stopGame()">Arrêter la partie</button>
		</div>

		<div ng-switch-when="STOPPED">
			<p>
				La partie a été arrêtée.
			</p>
			<button type="button" class="btn btn-success" ng-click="createGame()">Démarrer une partie...</button>
		</div>


	</div>

</div>