<div class="view-game" ng-controller="GameController">

	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li>
				<a href="#/new-game">
					Nouvelle partie
				</a>
			</li>
		</ul>
	</div>

	<div class="col-md-9" ng-switch="game.status">


		<!-- Join game -->
		<div ng-switch-when="WAITING">

			<ol class="breadcrumb">
				<li><a href="#/">Accueil</a></li>
				<li>Nouvelle partie</li>
				<li class="active">Attente des joueurs</li>
			</ol>

			<div class="alert alert-info" ng-if="! userInfo.joinRef">
				<h4>Une partie vient d'être créée !</h4>
				Vous pouvez la rejoindre !
			</div>
			<div class="alert alert-success" ng-if="userInfo.joinRef">
				<h4>Vous avez rejoint la partie !</h4>
				Le maître du jeu attend les autres joueurs...
			</div>

			<p>
				<button type="button" class="btn btn-primary" ng-disabled="userInfo.joinRef" ng-click="joinGame()"><i class="icon-play"></i> Rejoindre</button>
				<button type="button" class="btn btn-danger" ng-disabled="! userInfo.joinRef" ng-click="quitGame()"><i class="icon-stop"></i> Quitter</button>
			</p>

		</div>

		<!-- Join game -->
		<div ng-switch-when="PREPARING">

			<ol class="breadcrumb">
				<li><a href="#/">Accueil</a></li>
				<li>Nouvelle partie</li>
				<li class="active">Préparation</li>
			</ol>

			<div class="alert alert-info">
				<h4>Préparation de la partie...</h4>
				Le maître du jeu prépare la partie... Un peu de patience <i class="icon-smile"></i>
			</div>

		</div>


		<div ng-switch-when="RUNNING">

			<ol class="breadcrumb">
				<li><a href="#/">Accueil</a></li>
				<li class="active">Partie en cours</li>
			</ol>

			<div class="alert alert-info">
				<h4>La partie a commencé !</h4>
				Bon jeu et... bonne chance !
			</div>

			<div lg-character="me"></div>

		</div>


		<!-- Chat -->
		<ul class="media-list messages">
			<li class="media" ng-repeat="msg in game.messages" lg-message="msg">
			</li>
		</ul>

		<form name="form" novalidate="" ng-submit="addMessage()">

			<div class="row">
				<div class="col-lg-12">
					<div class="input-group">
						<input type="text" ng-model="msg" class="form-control" placeholder="Message..."/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Go !</button>
					</span>
					</div>
				</div>
			</div>

		</form>
	</div>

</div>
