<div class="view-game" ng-controller="GameController">

	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li>
				<a href="#/newgame">
					Nouvelle partie
				</a>
			</li>
		</ul>
	</div>

	<div class="col-md-9" ng-switch="game.status">


		<!-- Join game -->
		<div ng-switch-when="WAITING">

			<ol class="breadcrumb">
				<li><a href="#/">Accueil</a></li>
				<li>Nouvelle partie</li>
				<li class="active">Attente des joueurs</li>
			</ol>

			<p>
				<button type="button" class="btn btn-primary" ng-disabled="user.hasJoined" ng-click="joinGame()"><i class="icon-play"></i> Rejoindre</button>
				<button type="button" class="btn btn-danger" ng-disabled="! user.hasJoined" ng-click="quitGame()"><i class="icon-stop"></i> Quitter</button>
			</p>

		</div>


		<!-- Chat -->
		<ul class="media-list messages">
			<li class="media" ng-repeat="msg in game.messages" ff-message="msg">
			</li>
		</ul>

		<form name="form" novalidate="" ng-submit="addMessage()">

			<div class="row">
				<div class="col-lg-12">
					<div class="input-group">
						<input type="text" ng-model="msg" class="form-control" placeholder="Message..."/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Go !</button>
					</span>
					</div>
				</div>
			</div>

		</form>
	</div>

</div>
