<div class="view-game" ng-controller="GameController">

	<div class="col-md-3" ng-switch="game.status">

		<div ng-switch-when="WAITING">
			<div class="panel panel-info">
				<div class="panel-heading"><h4>Nouvelle partie créée !</h4></div>

				<ul class="list-group">
					<li class="list-group-item" ng-if="! userInfo.joinRef">
						<button type="button" class="btn btn-block btn-primary" ng-click="joinGame()"><i class="icon-play"></i> Rejoindre la partie</button>
					</li>

					<li class="list-group-item" ng-if="userInfo.joinRef">
						<button type="button" class="btn btn-block btn-danger" ng-click="quitGame()"><i class="icon-stop"></i> Quitter la partie</button>
					</li>

					<li class="list-group-item" ng-pluralize count="countPlayers()" when="{'0': 'Aucun joueur n\'est présent', 'one': 'Un joueur est présent :', 'other': '{} joueurs sont présents :'}"></li>

					<li class="list-group-item" ng-repeat="player in game.players">
						<div lg-user="player.user"></div>
					</li>
				</ul>
			</div>
		</div>

		<div ng-switch-when="PREPARING">
			<div class="panel panel-info">
				<div class="panel-heading"><h4>Préparation...</h4></div>
				<div class="panel-body">
					Le maître du jeu prépare la partie... Un peu de patience <i class="icon-smiley-smiley"></i>
				</div>
			</div>
		</div>

		<div ng-switch-when="STOPPED">
			<div class="panel panel-warning">
				<div class="panel-heading"><h4>Partie terminée !</h4></div>
			</div>
		</div>

		<div ng-switch-when="RUNNING">
			<div ng-if="userInfo.joinRef">

				<div lg-character="me.char"></div>

				<!-- UI votes -->
				<div lg-players-poll="" ng-if="iAmAlive() && ((game.phase == 'loups' && myTeamIs('L')) || game.phase == 'villageois')"></div>
				<div class="alert alert-info" ng-if="iAmDead()">
					<h4>Vous êtes mort.</h4>
					C'est terrible ce qui vous est arrivé... Mais un mort ne vote pas, désolé !
				</div>

				<!-- UI voyante -->
				<div lg-soothsayer-ui="" ng-if="game.phase == 'voyante' && iAm('voyante')"></div>

				<!-- UI sorcière -->
				<div lg-witch-ui="" ng-if="game.phase == 'sorciere' && iAm('sorciere')"></div>

			</div>
		</div>
	</div>

	<div class="col-md-7" ng-switch="game.status">

		<div lg-game-master-ui ng-if="isGameMaster()"></div>

		<!-- Chat -->

		<div lg-chat-ui=""></div>
	</div>

	<div class="col-md-2">
		<div ng-if="userInfo.joinRef">
			<div lg-characters-in-game=""></div>
		</div>
	</div>

</div>
