<!DOCTYPE html>
<html lang="fr" ng-app="LoupsGarous">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Loups-Garous en ligne :)</title>

	<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Wire+One|Lobster+Two|Wallpoet' rel='stylesheet' type='text/css'>
	<link href="css/styles.css" rel="stylesheet" />
	<link href="css/smileys/smileys.css" rel="stylesheet" />

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-route.min.js"></script>
	<script src="lib/angular/angular-animate.min.js"></script>
	<script src="lib/angular/i18n/angular-locale_fr-fr.js"></script>

	<script src="lib/bootstrap/js/bootstrap.min.js"></script>

	<script src="lib/moment/moment.min.js"></script>
	<script src="lib/moment/i18n/fr-fr.js"></script>

	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
	<script src="lib/angularfire/angularfire.js"></script>
</head>

<body ng-class="{'night': isNight()}">

	<audio id="sound_coq" src="sounds/coq.ogg" preload="auto"></audio>
	<audio id="sound_loup" src="sounds/loup.ogg" preload="auto"></audio>

	<nav class="navbar navbar-default" ng-class="{'navbar-inverse': isNight()}" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/game"><img src="images/logo.png"/> Loups-Garous</a>
		</div>

		<span lg-timer=""></span>

		<ul class="nav navbar-nav">
			<li><a href="javascript:;" ng-click="userInfo.sounds = ! userInfo.sounds"><i class="icon-large" ng-class="{true:'icon-volume-up',false:'icon-volume-off'}[userInfo.sounds]"></i></a></li>
		</ul>

		<ul class="nav navbar-nav">
			<li ng-if="isDead(me.player)"><a href="javascript:;">Vous êtes mort</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right" ng-if="user">
			<li class="dropdown">
				<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><img ng-src="images/avatars/{{ userInfo.avatar }}" style="width:32px; height:32px;"/>
				<span ng-if="userInfo.name">{{ userInfo.name }}</span>
				<span ng-if="! userInfo.name">{{ user.email }}</span>
				<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#/profile">Profil</a></li>
					<li><a href="javascript:;" ng-click="logout()">Déconnexion</a></li>
				</ul>
			</li>
		</ul>

	</nav>

	<div class="container ng-view"></div>



	<!-- Chat -->


	<script type="text/ng-template" id="lgChatUi.html">
		<div class="panel panel-default">
			<div class="panel-heading"><h4><i class="icon-comments-alt"></i> Discussion</h4></div>

			<ul class="list-group messages">
				<li class="list-group-item" ng-repeat="msg in availableMessages() | orderBy:'date'" lg-message="msg"></li>
			</ul>

			<div class="panel-footer">
				<form ng-show="myTeamIs('L') || isDay() || iAmDead()" name="form" novalidate="" ng-submit="addMessage()">
					<div class="row">
						<div class="col-lg-12">
							<div class="input-group">
								<input type="text" ng-model="msg" class="form-control" placeholder="Message..."/>
							<span class="input-group-btn">
								<button class="btn btn-primary" ng-disabled="!msg" type="submit">Envoyer</button>
							</span>
							</div>
						</div>
					</div>
				</form>
				<div ng-show="myTeamIs('V') && isNight() && iAmAlive()">
					<strong><i class="icon-moon"></i> C'est la nuit, vous dormez à poings fermés !</strong>
					<br/>Espérons que les loups ne jetterons pas leur dévolu sur vous...
				</div>
				<div ng-show="iAmDead()">
					<strong>Vous êtes mort !</strong>
					<br/>Seuls les morts peuvent lire vos messages.
				</div>
			</div>
		</div>
	</script>



	<!-- Maître du jeu -->


	<script type="text/ng-template" id="lgGameMasterUi.html">
		<div class="panel panel-danger" ng-switch="game.status">
			<div class="panel-heading"><h4><i class="icon-magic"></i> Maître du jeu</h4></div>

			<div class="panel-body" ng-switch-when="RUNNING">
				<div class="btn-toolbar">
					<button type="button" ng-if="isDay() && ! waitingForNight" class="btn btn-primary" ng-click="endDay()">Clore les votes</button>
					<button type="button" ng-if="isDay() && waitingForNight" class="btn btn-default" disabled="disabled">La nuit <span ng-pluralize="" count="waitingForNightTime" when="{'0':'tombe.', 'one':'va tomber dans une seconde...', 'other': 'va tomber dans {} secondes...'}"></span></button>
					<button type="button" class="btn btn-danger pull-right" ng-click="stopGame()"><i class="icon-stop"></i> Arrêter la partie</button>
				</div>
			</div>

			<div class="panel-body" ng-switch-when="STOPPED">
				<div class="btn-toolbar">
					<button type="button" class="btn btn-success" ng-click="createGame()">Démarrer une partie</button>
				</div>
			</div>

			<div class="panel-body" ng-switch-when="WAITING">
				<p><strong>En attente des joueurs...</strong></p>
				<p>
					Dès que tous les joueurs sont là, vous pouvez <strong>configurer la partie</strong>.
				</p>
				<div class="btn-toolbar">
					<button type="button" class="btn btn-success" ng-click="prepareGame()">Configurer la partie...</button>
					<button type="button" class="btn btn-danger" ng-click="stopGame()"><i class="icon-stop"></i> Annuler la partie</button>
				</div>
			</div>


			<div class="panel-body" ng-switch-when="PREPARING">
				<div>Choisissez les personnages de la partie puis cliquez sur <strong>Commencer la partie</strong> pour jouer.</div>
				<button type="button" class="btn btn-danger" ng-click="stopGame()"><i class="icon-stop"></i> Annuler</button>
			</div>

			<form role="form" novalidate="" ng-submit="createGame()" name="form" class="form-horizontal">
				<div lg-characters-selection-ui="" ng-model="gameData.selectedChars"></div>
			</form>

			<div class="panel-footer" ng-if="game.status == 'PREPARING'">
				<div ng-if="gameData.selectedChars.count < countPlayers()">
					<strong>Vous n'avez pas choisi assez de personnages !</strong>
				</div>
				<div ng-if="gameData.selectedChars.count > countPlayers()">
					<strong>Vous avez choisi trop de personnages !</strong>
				</div>
				<div ng-if="gameData.selectedChars.count == countPlayers()">
					<strong ng-if="! gameData.selectedChars.VCount">Vous devez choisir des villageois !</strong>
					<strong ng-if="! gameData.selectedChars.LCount">Vous devez choisir des loups !</strong>

					<div ng-if="gameData.selectedChars.VCount && gameData.selectedChars.LCount" class="clearfix">
						<button type="button" class="btn btn-block btn-success" ng-click="beginGame()">Commencer la partie avec <strong>{{gameData.selectedChars.VCount}} villageois</strong> et <strong>{{gameData.selectedChars.LCount}} loups</strong> !</button>
					</div>
				</div>

			</div>

			<div class="panel-footer" ng-if="game.status == 'RUNNING'">
				Phase de jeu : <strong>{{ game.phase }}</strong>
			</div>
		</div>
	</script>


	<script type="text/ng-template" id="lgCharactersSelectionUi.html">

		<table class="table" ng-switch-when="PREPARING">
			<tr ng-repeat="char in characters" ng-class="{'active': char.count > 0}">
				<td class="character" ng-click="select(char)">
					<img class="card" ng-src="images/cartes/{{ char.id }}.png"/>
					<h4 ng-bind="char.name"></h4>
					<p ng-bind="char.desc"></p>
				</td>
				<td>
					<div class="count" ng-bind="char.count || 0"></div>
					<button type="button" class="btn btn-block btn-sm btn-danger" ng-if="char.count > 0" ng-click="remove(char)">Enlever</button>
				</td>
			</tr>
		</table>

	</script>

	<script src="ref.js"></script>
	<script src="js/app.js"></script>
	<script src="js/characters.js"></script>
	<script src="js/ui.js"></script>
	<script src="user/user.js"></script>
	<script src="game/game.js"></script>
</body>
</html>
