<!DOCTYPE html>
<html lang="fr" ng-app="LoupsGarous">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>test</title>

	<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
	<link href="css/styles.css" rel="stylesheet" />
	<link href="css/smileys/smileys.css" rel="stylesheet" />

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular/angular-route.min.js"></script>
	<script src="lib/angular/angular-animate.min.js"></script>
	<script src="lib/angular/i18n/angular-locale_fr-fr.js"></script>

	<script src="lib/bootstrap/js/bootstrap.min.js"></script>

	<script src="lib/moment/moment.min.js"></script>
	<script src="lib/moment/i18n/fr-fr.js"></script>

	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
	<script src="lib/angularfire/angularfire.js"></script>
</head>

<body>

	<nav class="navbar navbar-default" ng-class="{'navbar-inverse': isNight()}" role="navigation" ng-controller="NavBarController">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/game"><img src="images/logo.png"/> Loups-Garous</a>
		</div>


		<ul class="nav navbar-nav" ng-if="user && user.admin">
			<li class="dropdown">
				<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
					Maître du jeu
					<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#/admin">Gérer la partie</a></li>
				</ul>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right" ng-if="user">
			<li class="dropdown">
				<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><img ng-src="images/avatars/{{ userInfo.avatar }}" style="width:32px; height:32px;"/>
				<span ng-if="userInfo.name">{{ userInfo.name }}</span>
				<span ng-if="! userInfo.name">{{ user.email }}</span>
				<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#/profile">Profil</a></li>
					<li><a href="javascript:;" ng-click="logout()">Déconnexion</a></li>
				</ul>
			</li>
		</ul>

	</nav>

	<div class="container ng-view"></div>

	<script src="ref.js"></script>
	<script src="js/app.js"></script>
	<script src="js/characters.js"></script>
	<script src="js/ui.js"></script>
	<script src="user/user.js"></script>
	<script src="game/game.js"></script>
</body>
</html>
