<div class="view-login">
	<form role="form" name="form" novalidate ng-submit="login()" ng-controller="LoginController">

		<ol class="breadcrumb">
			<li><a href="#/">Accueil</a></li>
			<li class="active">Connexion</li>
		</ol>

	    <div class="form-group">
	        <input type="email" class="form-control" placeholder="Adresse e-mail" required ng-model="username"/>
	    </div>
	    <div class="form-group">
	        <input type="password" class="form-control" placeholder="Mot de passe" required ng-model="password"/>
	    </div>
	    <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Hopla !</button>

	</form>
</div>